# Dependencies
node_modules/

# Logs
logs
*.log

# build files
cache/
artifacts/
out/

# JSON files with sensitive data or deployments
deployments_*.json

# Environment variables
.env

# Coverage reports
coverage/

# IDE-specific files
.vscode/
.idea/

# Mac system files
.DS_Store

.mnemonic

